---
title: Tanzu MySQL for Kubernetes
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides an overview of the on-demand <%= vars.product_full %> service.

## <a id='overview'></a>Overview

Overview
Tanzu SQL with MySQL for Kubernetes enables developers to provision and use dedicated instances of the MySQL database on demand on any Kubernetes runtime. When you install Tanzu MySQL, a Kubernetes Operator is deployed on your Kubernetes platform of choice, which allows developers to create MySQL instances.

Tanzu MySQL is configured with secure and performant settings by default to meet user expectations for a general-use relational database.

[...]

* What is Tanzu MySQL?
* What value does it bring to the user?
* What kind of users can use it?

## <a id='about-mysql4k8s'></a>About <%= vars.product_short %>
* About Tanzu MySQL for Kubernetes

### <a id='about-mysql-8-0'></a>About MySQL 8.0
* Brief Summary

#### <a id='features-mysql-8-0'></a>MySQL 8.0 Features
* What features are offered in MySQL v8.0?

#### <a id='changes-mysql-5-7'></a>Changes since MySQL v5.7
* Changes since MySQL v5.7

### <a id='mysql4k8s-architecture'></a><%= vars.product_short %> Architecture
* Tanzu MySQL for Kubernetes Architecture

#### <a id='operator-framework'></a>Operator Framework
* Operator Framework

#### <a id='controllers-crds'></a>Controllers and Custom Resource Definitions (CRDs)
* Controllers and Custom Resource Definitions (CRDs)

### <a id='rto-rpo-characteristics'></a>RTO and RPO Characteristics
* RTO and RPO Characteristics

#### <a id='rto-downtime'></a>Expected Downtime
* Expected downtime for different types of outages (RTO)
 * Pod gets rescheduled? K8s cluster loses network connectivity? etc.

#### <a id='rpo-data-loss'></a>Data Loss
* How much data is lost for different types of outages (RPO)

### <a id='requirements'></a>Platform Requirements
* Platform Requirements
* Works on any Kubernetes v1.18+
* Tested on Minikube, TKG, and GKE
