---
title: Installing the Tanzu SQL for Kubernetes Operator
owner: MySQL
---


This topic describes how Kubernetes admins install, configure, and deploy the Tanzu MySQL using two different methods. 

- Use [Installing Tanzu MySQL Operator via Tanzu Network Registry](#install-via-tanzu) for a faster installation process, and if your server hosts have access to the internet. 

- Use [Installing Tanzu MySQL Operator via Downloadable Archive File](install-operator.html#install-via-tar) if your server hosts do not have access to the internet, or if you want to install from a private registry.

## <a id='tanzu-network-prerequisites'></a>Prerequisites 

Before you deploy the Tanzu MySQL Operator, you need:

- Access to [Tanzu Network](https://network.pivotal.io) and [Tanzu Network Registry](https://registry.pivotal.io/). You can use the same credentials for both sites.

- [Docker](https://github.com/docker) running and configured on your local computer, to access the Kubernetes cluster and Docker registry.

- A running Kubernetes cluster.

- The [kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) command-line tool, configured and authenticated to communicate with your Kubernetes cluster.

- The Helm v3 command-line tool installed. For more information, see [Installing Helm](https://helm.sh/docs/intro/install/) from the Helm documentation. <br>
    **IMPORTANT**: Helm 3.7 is currently not supported.

- `cluster-admin` ClusterRole access to the Kubernetes cluster. For more information, see the [Kubernetes documentation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles).

* [Cert Manager](https://github.com/jetstack/cert-manager) installed on the Kubernetes cluster. 
    
    Install cert-manager by running these commands from your local client:

    <pre class="terminal">
    $ kubectl create namespace cert-manager
    $ helm repo add jetstack https://charts.jetstack.io
    $ helm repo update
    $ helm install cert-manager jetstack/cert-manager --namespace cert-manager  --version <1.latest> --set installCRDs=true
    </pre>
    where:
    - `--namespace cert-manager` is the namespace used for cert manager in the Kubernetes cluster
    - `--version <1.latest>` is the latest cert-manager version available (minimum above 1.0.2)
    - `--set installCRDs=true` ensures cert manager installs all types necessary to create certificates

    To verify the installation run:

    <pre class="terminal">
    $ kubectl get all --namespace=cert-manager
    </pre>
    
    The output should be similar to:

    ```
    NAME                                           READY   STATUS    RESTARTS   AGE
    pod/cert-manager-57b65b7fc-x8vjt               1/1     Running   5          4d19h
    pod/cert-manager-cainjector-5f988f74c6-tgk25   1/1     Running   15         4d19h
    pod/cert-manager-webhook-7cf554f879-b5ss9      1/1     Running   4          4d19h

    NAME                           TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)    AGE
    service/cert-manager           ClusterIP   10.106.253.7    <none>        9402/TCP   4d19h
    service/cert-manager-webhook   ClusterIP   10.108.17.113   <none>        443/TCP    4d19h

    NAME                                      READY   UP-TO-DATE   AVAILABLE   AGE
    deployment.apps/cert-manager              1/1     1            1           4d19h
    deployment.apps/cert-manager-cainjector   1/1     1            1           4d19h
    deployment.apps/cert-manager-webhook      1/1     1            1           4d19h

    NAME                                                 DESIRED   CURRENT   READY   AGE
    replicaset.apps/cert-manager-57b65b7fc               1         1         1       4d19h
    replicaset.apps/cert-manager-cainjector-5f988f74c6   1         1         1       4d19h
    replicaset.apps/cert-manager-webhook-7cf554f879      1         1         1       4d19h
    ```
    
    
    For security scenarios setup, see [Configuring TLS for MySQL Instances](configure-tls.html). 


## <a id="install-via-tanzu"></a>Install the Operator via the Tanzu Network Registry

This section describes how to access the resources, and deploy the Tanzu MySQL Operator using the Tanzu Network Registry. 
To install the Tanzu MySQL Operator, you must use kubectl to create a namespace and secret.
Then, use the Helm CLI to install the Operator.

**IMPORTANT**: Helm 3.7 is currently not supported.

### <a id="access"></a> Access the Resources

To install the Tanzu MySQL Operator, you must download the Helm chart and images.

To download the resources:

1. Set the environment variable to enable OCI support in the Helm v3 client by running:

    ```
    export HELM_EXPERIMENTAL_OCI=1
    ```

    If you skip this step, the following error message might appear:
    <pre class="terminal">Error: this feature has been marked as experimental and is not enabled by default.</pre>

1. Use Helm to log in to the Tanzu Network Registry by running:

    ```
    helm registry login registry.pivotal.io
    ```

    Follow the prompts to enter the email address and password for your <%= vars.product_network %> account. 


1. Download the `tanzu-mysql-operator-chart` using Helm:

    ```
    $ helm chart pull registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:1.1.0
    1.1.0: Pulling from registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart
    ref:     <span style="color: #77bf00;">registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:1.1.0</span>
    digest:  2b6e1d010ab1737dcc5a426b223a06db1c616107d2ceaf368db6fda48d96a61a
    size:    4.2 KiB
    name:    tanzu-sql-with-mysql-operator
    version: 1.1.0
    Status: Downloaded newer chart for registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:1.1.0
    ```

### <a id="create-namespace-secret"></a> Create Namespace and Secret

To create the namespace and secret:

1. Create the namespace by running:

    ```
    kubectl create namespace tanzu-mysql-for-kubernetes-system
    ```

1. Set your kubectl context to the newly-created namespace by running:

    ```
    kubectl config set-context --current --namespace tanzu-mysql-for-kubernetes-system
    ```

1. Create a Kubernetes secret for accessing registry containing the Tanzu MySQL images by running:

    ```
    kubectl create secret docker-registry tanzu-image-registry --docker-server=https://registry.pivotal.io/ \
    --docker-username=DOCKER-USERNAME --docker-password=DOCKER-PASSWORD
    ```

1. Download the Helm chart to your current working directory on your local machine by running:

    ```
    helm chart export REGISTRY-URL
    ```
    Where `REGISTRY-URL` is the reference to the Tanzu MySQL Helm chart.

    <br>The value of `REGISTRY-URL` has the following pattern:

    ```
    registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:VERSION-NUMBER-TAG
    ```
    Where `VERSION-NUMBER-TAG` is the version of the Helm chart.

    <br>This downloads a directory named `tanzu-sql-with-mysql-operator/` into your current working directory that contains:
    * The Tanzu MySQL Helm chart
    * Custom Resource Definitions (CRDs)
    * Role-Based Access Control (RBAC) definitions required to install the operator with Helm

    For example:
    <pre class="terminal">
    $ helm chart export registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:1.1.0
    <br>
    ref:     registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:1.1.0
    digest:  2b6e1d010ab1737dcc5a426b223a06db1c616107d2ceaf368db6fda48d96a61a
    size:    4.2 KiB
    name:    tanzu-sql-with-mysql-operator
    version: 1.1.0
    Exported chart to tanzu-sql-with-mysql-operator/
    </pre>

### <a id="create-overrides"></a> Review values.yaml and Create Overrides If Needed

In most situations, the default values supplied in the `values.yaml` file do not need to be changed.

However, if any of the following are true, follow the steps described in [Edit the Operator Configuration](#config-file) to override the defaults:

* You deployed the Tanzu SQL for Kubernetes images from a registry other than registry.pivotal.io.
* You did not use the default `tanzu-image-registry` for the secret name in Step 4 above.
* You want to allocate different CPU or memory resources for your Operator.
* You want to specify an alternate default version for new MySQL instances.


### <a id="install-operator"></a> Use Helm CLI to Install the Operator

**IMPORTANT**: Helm 3.7 is currently not supported.

To install the Operator using the Helm CLI:

1. Verify that you are in the same working directory as where you downloaded the Helm chart in Step 4 of
[Create Namespace and Secret](#create-namespace-secret) above.

1. By default, the Tanzu MySQL Operator 1.2.0 configures a self-signed `ClusterIssuer` for issuing MySQL instance TLS certificates. Customers requiring a custom Certificate Authority for TLS, follow the Operator install steps in [Configuring a Custom TLS Issuer](configure-tls.html#configuring-custom-tls-issuer) in the _Configuring TLS for MySQL Instances_ page. 
    
    If you're not configuring a custom CA, continue with the default installation. If you created a custom `values-override.yaml` in [Review values.yaml and Create Overrides If Needed](#create-overrides) above, then run the following Helm command, including the `--values` flag with the location of your override file:

    ``` bash
    $ helm install --values=/your/values-override.yaml tanzu-sql-with-mysql-operator ./tanzu-sql-with-mysql-operator/
    ```

    Otherwise, omit the `--values` flag:

    ``` bash
    $ helm install tanzu-sql-with-mysql-operator ./tanzu-sql-with-mysql-operator/
    ```

1. See that the Operator has installed successfully by running:

    ```
    kubectl get all
    ```
    The Tanzu MySQL Operator has finished installing when you see the value of the `STATUS` column for the
    Tanzu MySQL Operator Pod is `Running`. See example output:
    <pre class="terminal">$ kubectl get all
NAME                                                           READY   STATUS    RESTARTS   AGE
pod/mysql-for-kubernetes-controller-manager-84d76dfb77-lq5mb   1/1     <span style="color: #77bf00;">Running</span>   0          21s
<br>NAME                                                      READY   UP-TO-DATE   AVAILABLE   AGE
deployment.apps/mysql-for-kubernetes-controller-manager   1/1     1            1           23s
<br>NAME                                                                 DESIRED   CURRENT   READY   AGE
replicaset.apps/mysql-for-kubernetes-controller-manager-84d76dfb77   1         1         1       23s</pre>

    <p class="note">
      <strong>Note:</strong> You can only have one Tanzu MySQL operator installed in a Kubernetes cluster.
    </p>
    
    To review the default TLS configuration for the MySQL Operator, see [Using the Default provided TLS](configure-tls.html#using-default-tls). 

## <a id="install-via-tar"></a>Install the Operator via a Downloaded File
        
Choose this method if:

- The installation destination (for example an air-gapped network) cannot access the [VMware Tanzu Network](https://network.pivotal.io).
- Or you wish to load the Operator and instance images to a private Docker registry.

**IMPORTANT**: Helm 3.7 is currently not supported.

This section covers:

- Downloading and unpacking the distribution from [VMware Tanzu Network](https://network.pivotal.io)
- Loading the images to a local Docker registry
- Pushing the images from the local Docker registry to a private container registry
- Configuring a Kubernetes secret for accessing the private container registry
- Deploying the MySQL Operator

### <a id="download-archive-prerequisites"></a>Prerequisites 

Before you deploy the Tanzu MySQL Operator, review the list of [Prerequisites](#tanzu-network-prerequisites) that apply to both installation methods. 

### Download and unpack the Tanzu MySQL distribution 

1. Download the Tanzu MySQL distribution from [VMware Tanzu Network](https://network.pivotal.io). The download filename has the format: `tanzu-mysql-for-kubernetes-<version>.tgz`

2. Unpack the downloaded software:

    <pre class="terminal">
    $ cd ~/Downloads
    $ tar xzf tanzu-mysql-for-kubernetes-<version>.tgz
    </pre>

    This command unpacks the distribution into a new directory named `tanzu-mysql-for-kubernetes-<version>`, for example `tanzu-mysql-for-kubernetes-1.1.0`.

3.  Change to the new `tanzu-mysql-for-kubernetes-<version>` directory.

    <pre class="terminal">
    $ cd ./tanzu-mysql-for-kubernetes-1.1.0
    </pre>

### <a id="docker"></a>Load the Images to a Local Docker Registry

1. Load the MySQL instance image to the Docker registry.

    <pre class="terminal">
    $ docker load -i ./images/tanzu-mysql-instance
    </pre>

2.  Load the MySQL Operator image to the Docker registry.

    <pre class="terminal">
    $ docker load -i ./images/tanzu-mysql-operator
    </pre>

3.  Verify that the two Docker images are now available.

    <pre class="terminal">
$ docker images
REPOSITORY                                                            TAG       IMAGE ID       CREATED        SIZE
registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance   1.1.0     5f0ad7bad51b   5 weeks ago    792MB
registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator   1.1.0     eb1458d2e1bd   5 weeks ago    76MB
    </pre>

### <a id="push-to-registry"></a>Push the Images to a Private Container Registry

Push the Tanzu MySQL Docker images to the container registry of your choice. Set each image's project and image repo name, tag the images, and then push them using the Docker command `docker push`.

This example tags and pushes the images to the Google Cloud Registry, using the default (core) project name for the example Google Cloud account.

```
$ gcloud auth configure-docker

$ PROJECT=$(gcloud config list core/project --format='value(core.project)')
$ REGISTRY="gcr.io/${PROJECT}"

$ INSTANCE_IMAGE_NAME="${REGISTRY}/tanzu-mysql-instance:$(cat ./images/tanzu-mysql-instance-tag)"
$ docker tag $(cat ./images/tanzu-mysql-instance-id) ${INSTANCE_IMAGE_NAME}
$ docker push ${INSTANCE_IMAGE_NAME}

$ OPERATOR_IMAGE_NAME="${REGISTRY}/tanzu-mysql-operator:$(cat ./images/tanzu-mysql-operator-tag)"
$ docker tag $(cat ./images/tanzu-mysql-operator-id) ${OPERATOR_IMAGE_NAME}
$ docker push ${OPERATOR_IMAGE_NAME}
```

### <a id="create-service-accounts"></a>Configure a Kubernetes Secret for Accessing the Private Container Registry

Create a `docker-registry` type secret to allow the Kubernetes cluster to authenticate with the private container registry so it can pull images. These examples create a secret named `tanzu-image-registry` using Harbor, Google Cloud Registry (GCR), and Amazon Elastic Container Registry (ECR). 

<p class='note important'><strong>Important:</strong> The commands below create the secret in the current configured namespace for the kubectl context. Only pods created in the same namespace can reference the secret. To create a secret in a different namespace, use the `--namespace` flag. You should create an identical secret in the Operator namespace and in each namespace where you will create Tanzu MySQL instances.</p>

**Harbor**

<pre class="terminal">
$ kubectl create secret docker-registry tanzu-image-registry \
    --docker-server=${HARBOR_URL} \
    --docker-username=${HARBOR_USER} \
    --docker-password="${HARBOR_PASSWORD}"
</pre>

**GCR**

<pre class="terminal">
$ kubectl create secret  docker-registry  tanzu-image-registry \
        --docker-server=https://gcr.io \
        --docker-username=_json_key \
        --docker-password="$(cat ~/key.json)"
</pre>

For information about how to obtain the `key.json` service account file, see [Creating service account credentials](https://cloud.google.com/kubernetes-engine/docs/tutorials/authenticating-to-cloud-platform#step_3_create_service_account_credentials) in the GKE documentation. 

**ECR**

<pre class="terminal">
$ TOKEN=`aws ecr --region=$REGION get-authorization-token --output text --query authorizationData[].authorizationToken | base64 -d | cut -d: -f2`
$ kubectl create secret docker-registry tanzu-image-registry \
    --docker-server=https://${ACCOUNT}.dkr.ecr.${REGION}.amazonaws.com \
    --docker-username=AWS \
    --docker-password="${TOKEN}"
</pre>


Next follow [Deploying a MySQL Operator](install-operator.html#create-operator). The MySQL Operator will use this secret to allow the Kubernetes cluster to authenticate with the container registry to pull images.

### <a id="create-operator"></a> Deploy the Tanzu MySQL Operator 

The MySQL Operator is the controller for MySQL instances resources. You install the MySQL Operator using the Helm package manager.

#### <a id="config-file"></a>Edit the Operator Configuration

1.  Go to the directory where you unpacked the Tanzu MySQL distribution.

    <pre class="terminal">
    $ cd tanzu-mysql-for-kubernetes-*
    </pre>
    The file `charts/tanzu-sql-with-mysql-operator/values.yaml` in the Tanzu MySQL directory specifies the location of the MySQL Operator and instance images. By default it contains the following values:
    
    ```
---
imagePullSecretName: tanzu-image-registry
operatorImage: registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:1.1.0-rc.8
registry: "registry.pivotal.io/tanzu-mysql-for-kubernetes/"
defaultInstanceVersion: 1.1.0-rc.8
resources: {}
    ```

1.  Create a copy of `values.yaml` and name the new file `operator-values-overrides.yaml`. Save this file in the same directory as the `values.yaml` file. In this file, you can specify the custom container registry and secret. For manual changes, you may also set individual parameters using the `--set` flag on the command line. 

    See [Helm Values Files](https://helm.sh/docs/chart_template_guide/values_files/) in the Helm documentation for more information.<br><br>

    If you are using a single node Minikube environment, it is not necessary to override the `operator/values.yaml` file because Minikube pulls the images from its local Docker registry.
    <br><br>
    Determine which values in the `values.yaml` file need to be changed for your environment. Use the table below as a guide.
    <table>
      <thead>
        <tr>
          <th width="35%">Key</th>
          <th width="10%">Value Type</th>
          <th width="55%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>imagePullSecret</code></td>
          <td>String</td>
          <td>Name of image secret. This value must match the name of the Kubernetes
            secret you create in <a href="#create-namespace-secret">Create Namespace and Secret</a> above.</td>
        </tr>
        <tr>
          <td><code>operatorImage</code></td>
          <td>URI</td>
          <td>Reference to the Tanzu MySQL Operator image.
            If you uploaded the Operator image to a private registry, you must
            change this reference to pull the Operator image from your registry.</td>
        </tr>
        <tr>
          <td><code>registry</code></td>
          <td>URI</td>
          <td>The registry from which to download Tanzu MySQL images.</td>
        </tr>
        <tr>
          <td><code>defaultInstanceVersion</code></td>
          <td>String</td>
          <td>The default version of Tanzu MySQL to use when creating new instances.</td>
        </tr>
        <tr>
          <td><code>resources</code></td>
          <td>List</td>
          <td>Limits and requests for CPU and memory for the Tanzu MySQL Operator.
            You can change these values to scale your resources.</td>
        </tr>
      </tbody>
    </table>

1. Edit the values that you want to change.
1. Delete the sections of the file that you do not change.
1. Save the `operator-values-overrides.yaml` file in a location of your choice or the same directory as the `values.yaml` file.

#### <a id="create-release"></a>Create the MySQL Operator 

**IMPORTANT**: Helm 3.7 is currently not supported.

1.  By default, the Tanzu MySQL Operator 1.2.0 configures a `ClusterIssuer` for MySQL instance TLS certificates. Customers requiring a custom Certificate Authority for TLS, follow the Operator install steps in [Configuring a Custom TLS Issuer](configure-tls.html#configuring-custom-tls-issuer) in the _Configuring TLS for MySQL Instances_ page. 

    To continue with the default installation, use Helm to install the MySQL Operator in your Kubernetes cluster:

    <pre class="terminal">
    $ helm install --wait my-mysql-operator Operator/
    </pre>

    where:
    * `--wait` flag waits for the Operator deployment to complete before any image installation starts
    * `my-mysql-operator` is the custom name you provide for your MySQL Operator
    * `operator/` is the location of the MySQL Operator helm chart 

    or

    <pre class="terminal">
    $ helm install --wait my-mysql-operator -f charts/tanzu-sql-with-mysql-operator/operator-values-overrides.yaml charts/tanzu-sql-with-mysql-operator/
    </pre>
    
    Replace `charts/tanzu-sql-with-mysql-operator/operator-values-overrides.yaml` with your custom location.
    <br><br>

    To create the Operator in a namespace different that the default, use:
    
    <pre class="terminal">
    $ helm install --wait my-mysql-operator charts/tanzu-sql-with-mysql-operator/ \
      --values=operator-values-overrides.yaml \
      --namespace=mysql-for-kubernetes-system \
      --create-namespace
    </pre>

    The command displays a message similar to:

    ```
    NAME: my-mysql-operator
    LAST DEPLOYED: Wed Jun 16 13:28:05 2021
    NAMESPACE: default
    STATUS: deployed
    REVISION: 1
    TEST SUITE: None
    ```
    
    **Note**: The secret namespace in step [Create a Kubernetes Access Secret](#create-service-accounts) must match the Operator namespace.  

3.  Use `watch kubectl get all` to monitor the progress of the deployment. The deployment is complete when the MySQL Operator pod status changes to `Running`.

    <pre class="terminal">
    $ watch kubectl get all
    </pre>
    
    You may also check the logs to confirm the Operator is running properly:

    <pre class="terminal">
    $ kubectl logs -l app=tanzu-mysql-operator
    </pre>
    
    Use the label `app=tanzu-mysql-operator` to search across resources created by the MySQL Operator Helm chart:

    <pre class="terminal">
    $ kubectl get all -l app=tanzu-mysql-operator -n mysql-for-kubernetes-system
    </pre>
    where `-n mysql-for-kubernetes-system` defines the namespace. The output would be similar to:

    <pre class="terminal">
    NAME                                           READY       STATUS           RESTARTS      AGE
    pod/tanzu-mysql-operator-69765b8b74-rtms7            1/1         Running          0             3d19h
    NAME                                           READY       UP-TO-DATE       AVAILABLE     AGE
    deployment.apps/tanzu-mysql-operator                 1/1         1                1             3d19h
    NAME                                           DESIRED     CURRENT          READY         AGE
    replicaset.apps/tanzu-mysql-operator-69765b8b74      1           1                1             3d19h
    </pre>
