---
title: Installing the Tanzu MySQL for Kubernetes Operator
owner: MySQL
---

KUBERNETES-ADMIN FACING

<strong><%= modified_date %></strong>

This topic provides instructions to operators
about how to install, configure, and deploy the <%= vars.product_full %> Operator.

## <a id='prereq'></a>Prerequisites
Before you deploy the <%= vars.product_short %> operator, you must:

* Have access to [TanzuNet](https://network.pivotal.io/) and (Tanzu Net Registry](https://registry.pivotal.io/harbor/sign-in?redirect_url=%2Fharbor%2Fprojects)
* Helm CLI
* Kubectl CLI
* Have an existing Kubernetes environment
* `cluster-admin` ClusterRole access to the Kubernetes cluster

## <a id='retrieve-helm'></a>Retrieve the Helm Chart and Images from TanzuNet
Retrieve the Helm Chart and Images from TanzuNet

* helm create secret docker-registry …
* helm repo add tanzu-mysql-kubernetes …
* helm fetch tanzu-mysql-kubernetes/tanzu-mysql-operator --version 0.1.0

## <a id='install-operator'></a>Install the Tanzu MySQL Operator
Install the Tanzu MySQL Operator


### <a id='install-operator'></a>Fetch repo

### <a id='install-operator'></a>Create and Target the Namespace in which you want to install the OPERATOR

namespace = cf org
no equivalent for spaces


Operator should not be directly accessible by Codys/Devs
ClusterAdmin should place the Operator in a system Namespace only accessible by K8s administrators
Can choose whatever name they want

TANZU-MYSQL-OPERATOR-NAMESPACE


### <a id='install-operator'></a>Create Secret

NOTE: kubectl create secret docker-registry SAMPLE-SECRET --docker-server=[REGISTRY-SERVER-URL] --docker-username=[DOCKER-USERNAME] --docker-password=[DOCKER-PASSWORD]


    kubectl --namespace=[TANZU-MYSQL-OPERATOR-NAMESPACE] create secret docker-registry tanzu-mysql-image-registry --docker-server=[REGISTRY-SERVER-URL] --docker-username=[DOCKER-USERNAME] --docker-password=[DOCKER-PASSWORD]

This Kubernetes secret can point to the TanzuNet registry, or a private registry that you have configured for your Kubernetes environment.

For Example

<pre class="terminal">secret/tanzu-mysql-image-registry created</pre>

### <a id='install-operator'></a>Modify values

After you Helm Fetch, you will download a repo called "tanzu-mysql-kubernetes"

* Talk about the values you can set in `values.yaml`

---
imagePullSecret: tanzu-mysql-image-registry
operatorImage: registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:latest
tanzuMySQLImage: registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance:latest
resources:
  limits:
    cpu: 100m
    memory: 30Mi
  requests:
    cpu: 100m
    memory: 20Mi

imagePullSecret has to match the reg
operatorImage: Image stored in their registry (--docker-server=[REGISTRY-SERVER-URL])
> List of images, there needs to be one called "tanzu-mysql-operator:latest" or named however
> REGISTRY-SERVER-URL needs to match "registry.pivotal.io"

resources should be sufficient for the operator computing needed
CAN scale up if desired.

For more information about `limits` and `requests`, see [](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits).
limits = max
requests = min

### <a id='install-operator'></a>Helm Install

When in that dir, run the helm install command

    cd tanzu-mysql-kubernetes
    helm --namespace [TANZU-MYSQL-OPERATOR-NAMESPACE] install OPERATOR-NAME ./charts/tanzu-mysql-operator/ --values charts/tanzu-mysql-operator/values.yaml
    Where OPERATOR-NAME is the name of your Tanzu SQL Operator

For Example

<pre class="terminal"> helm --namespace [TANZU-MYSQL-OPERATOR-NAMESPACE] install tanzu-mysql-operator ./charts/tanzu-mysql-operator/ --values charts/tanzu-mysql-operator/values.yaml</pre>


## <a id='uninstall-operator'></a>Uninstall the Operator

helm —namespace [TANZU-MYSQL-OPERATOR-NAMESPACE] uninstall [OPERATOR-NAME]
