---
title: Property Reference for Backup and Restore
owner: MySQL
---

**In this topic**<br>
[Properties for the TanzuMySQLBackupLocation Resource](#backuplocation)<br>
[Properties for the Secret](#secret)<br>
[Properties for the TanzuMySQLBackupSchedule Resource](#backupschedule)<br>
[Properties for the TanzuMySQLBackup Resource](#on-demand-backup)<br>
[Properties for the TanzuMySQLRestore Resource](#restore)

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic contains property reference tables for the resources that you create for performing
backup and restore.
For information about backup and restore,
see [Backing Up and Restoring in Tanzu MySQL for Kubernetes](backup-restore.html).

##<a name="backuplocation"></a> Properties for the TanzuMySQLBackupLocation Resource

The table below explains the properties that can be set in the `backuplocation.yaml` file.

<table style="width:1000px" class="nice">
<col width="10%">
<col width="10%">
<col width="10%">
<col width="50%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the TanzuMySQLBackupLocation. Must be unique within a namespace.</td>
  <td><code>backuplocation-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.storage.s3.bucket</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>
      The name of an existing S3-compatible bucket for this backup location.
  </td>
  <td><code>s3-bucket-sample</code></td>
  <td>Yes</tr>
</tr>
<tr>
  <td>spec.storage.s3.bucketPath</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the path where backup artifacts will be uploaded.
      If a folder in the path does not already exist, it is created automatically.</td>
  <td><code>s3-sample-path/sample-subpath/</code></td>
  <td>No</td>
</tr>
<tr>
  <td>spec.storage.s3.region</td>
  <td>String</td>
  <td>us-east-1</td>
  <td>The geographic region of the bucket.
      Some non-AWS S3 implementations do not require this value.</td>
  <td><code>us-west-1</code></td>
  <td>No</td>
</tr>
<tr>
  <td>spec.storage.s3.endpoint</td>
  <td>String</td>
  <td>https://<br>BUCKET-NAME<br>.s3.REGION<br>.amazonaws.com/</td>
  <td>The endpoint URL for the configured S3-compatible provider. Leave blank for AWS S3.</td>
  <td><code>http://minio.default:9000</code></td>
  <td>No</td>
</tr>
  <td>spec.storage.s3.forcePathStyle</td>
  <td>boolean</td><td>false</td>
  <td><code>true</code> forces the use of path-style S3 URLs for compatibility.
      May be required for some non-AWS S3 providers.<br>
      <code>false</code> uses virtual hosted-style S3 URLs.<br>
      For information about AWS S3 Path Deprecation, see the <a href="https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/">
      AWS blog site</a>.
  </td>
  <td><code>false</code></td>
  <td>No</tr>
</tr>
<tr>
  <td>spec.storage.s3.disableSSL</td>
  <td>boolean</td>
  <td>false</td>
  <td>For development environments, set to <code>true</code> to disable SSL for S3 operations.<br>
      For production environments, set to <code>false</code>.</td>
  <td><code>false</code></td>
  <td>No</td>
</tr>
  <td>spec.storage.s3.secret.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the Kubernetes secret that contains the credentials for connecting to S3.</td>
  <td><code>backuplocation-sample-creds</code></td>
  <td>Yes</tr>
</tr>
</table>



##<a name="secret"></a> Properties for the Secret

The table below explains the properties that can be set in the `secret` for the TanzuMySQLBackupLocation resource.

<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the Secret. Must match <code>spec.storage.s3.secret.name</code> in a BackupLocation.
      Must be unique within a namespace.</td>
  <td><code>backuplocation-sample-creds</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>stringData.accessKeyId</td>
  <td> String</td>
  <td> <em>n/a</em></td>
  <td> The Access Key ID for an AWS IAM user that has permissions to read/write from the S3 bucket.</td>
  <td> <code>AKIAIOSFODNN7EXAMPLE</code></td>
  <td> Yes</td>
</tr>
<tr>
  <td>stringData.secretAccessKey</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The Secret Access Key for an AWS IAM user that has permissions to read/write from the S3 bucket</td>
  <td><code>wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY</code></td>
  <td>Yes</td>
</tr>
</table>


##<a name="backupschedule"></a> Properties for the TanzuMySQLBackupSchedule Resource

The table below explains the properties that can be set in the `backupschedule.yaml` file
for TanzuMySQLBackupSchedule resource.
<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
   <td>metadata.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the TanzuMySQLBackupSchedule. Must be unique within a namespace.</td>
   <td><code>backupschedule-sample</code></td>
   <td>Yes</td>
</tr>
<tr>
<td>spec.backupTemplate.spec.location.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the TanzuMySQLBackupLocation that represents the blobstore where backups will be uploaded. Must be in the same namespace as the TanzuMySQLBackupSchedule.</td>
   <td><code>backuplocation-sample</td>
   <td>Yes</td>
<tr>
</tr>
   <td>spec.backupTemplate.spec.cluster.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the TanzuMySQL instance on which you want scheduled backups for.
       Must be in the same namespace as the TanzuMySQLBackupSchedule.</td>
   <td><code>tanzumysql-sample</td>
   <td>Yes</td>
<tr>
</tr>
<td>spec.schedule</td>
   <td>String (cron schedule)</td>
   <td><em>n/a</em></td>
   <td>The cron schedule for backups. Must be a valid cron schedule.</td>
   <td><code>"0 23 * * 6" (every Saturday at 11PM)</td>
   <td>Yes</td>
</tr>
</table>


##<a name="on-demand-backup"></a> Properties for the TanzuMySQLBackup Resource

The table below explains the properties that can be set in the `backup.yaml` file
for the TanzuMySQLBackup resource.

[//]: # ( MISSING EXAMPLES)

<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the TanzuMySQLBackup.
      Must be unique within a namespace.</td>
  <td><code>backup-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.location.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the TanzuMySQLBackupLocation that represents the blobstore where the backup will be uploaded.
      Must be in the same namespace as the TanzuMySQL instance.</td>
  <td></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.cluster.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the TanzuMySQL instance on which you want to perform the on-demand backup.</td>
  <td></td>
  <td>Yes</td>
</tr>
</table>



##<a name="restore"></a> Properties for the TanzuMySQLRestore Resource

The table below explains the properties that can be set in the `tanzumysqlrestore.yaml` file
for the TanzuMySQLRestore resource.


<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the TanzuMySQLRestore. Must be unique within a namespace.</td>
  <td><code>tanzumysqlrestore-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
   <td>spec.tanzuMySQLBackup.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the TanzuMySQLBackup that represents the backup artifact to restore.
       Must be in the same namespace as the TanzuMySQLRestore.</td>
   <td> </td>
   <td>Yes</td>
</tr>
<tr>
   <td>spec.MysqlTemplate</td>
   <td> </td>
   <td> </td>
   <td>The configuration for the TanzuMySQL instance that the backup artifact will be restored to.
       This TanzuMySQL instance is created automatically as part of the restore,
       so the name must not already exist in the namespace.<br>
       For descriptions of each value in the configuration template,
      see <a href="create-delete-mysql.html#create-instance">Create a TanzuMySQL Instance</a>.</td>
   <td> </td>
   <td>Yes</td>
</tr>
</table>
