---
title: Property Reference for Backup and Restore
owner: MySQL
---

**In this topic**<br>
[Properties for the MySQLBackupLocation Resource](#backuplocation)<br>
[Properties for the Secret](#secret)<br>
[Properties for the MySQLBackupSchedule Resource](#backupschedule)<br>
[Properties for the MySQLBackup Resource](#on-demand-backup)<br>
[Properties for the MySQLRestore Resource](#restore)

<strong><%= modified_date %></strong>

This topic contains property reference tables for the resources that you create for performing
backup and restore.
For information about backup and restore,
see [Backing Up and Restoring MySQL Instances](backup-restore.html).

## <a name="backuplocation"></a> Properties for the MySQLBackupLocation Resource

The table below explains the properties that can be set for the MySQLBackupLocation resource.

<table style="width:1000px" class="nice">
<col width="10%">
<col width="10%">
<col width="10%">
<col width="50%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the MySQLBackupLocation. Must be unique within a namespace.</td>
  <td><code>backuplocation-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.storage.s3.bucket</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>
      The name of an existing S3-compatible bucket for this backup location.
  </td>
  <td><code>s3-bucket-sample</code></td>
  <td>Yes</tr>
</tr>
<tr>
  <td>spec.storage.s3.bucketPath</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the path where backup artifacts will be uploaded.
      If a folder in the path does not already exist, it is created automatically.
      The trailing slash in the path is required.</td>
  <td><code>s3-sample-path/sample-subpath/</code></td>
  <td>No</td>
</tr>
<tr>
  <td>spec.storage.s3.region</td>
  <td>String</td>
  <td>us-east-1</td>
  <td>The geographic region of the bucket.
      Some non-AWS S3 implementations do not require this value.</td>
  <td><code>us-west-1</code></td>
  <td>No</td>
</tr>
<tr>
  <td>spec.storage.s3.endpoint</td>
  <td>String</td>
  <td>https://<br>BUCKET-NAME<br>.s3.REGION<br>.amazonaws.com/</td>
  <td>The endpoint URL for the configured S3-compatible provider. Leave blank for AWS S3.</td>
  <td><code>http://minio.default:9000</code></td>
  <td>No</td>
</tr>
  <td>spec.storage.s3.forcePathStyle</td>
  <td>boolean</td><td>false</td>
  <td><code>true</code> forces the use of path-style S3 URLs for compatibility.
      May be required for some non-AWS S3 providers.<br>
      <code>false</code> uses virtual hosted-style S3 URLs.<br>
      For information about AWS S3 Path Deprecation, see the <a href="https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/">
      AWS blog site</a>.
  </td>
  <td><code>false</code></td>
  <td>No</tr>
</tr>
  <td>spec.storage.s3.secret.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the Kubernetes secret that contains the credentials for connecting to S3.</td>
  <td><code>backuplocation-sample-creds</code></td>
  <td>Yes</tr>
</tr>
</table>



## <a name="secret"></a> Properties for the Secret

The table below explains the properties that can be set in the `secret` for the MySQLBackupLocation resource.

<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the Secret. Must match <code>spec.storage.s3.secret.name</code> in a BackupLocation.
      Must be unique within a namespace.</td>
  <td><code>backuplocation-sample-creds</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>stringData.accessKeyId</td>
  <td> String</td>
  <td> <em>n/a</em></td>
  <td> The Access Key ID for an AWS IAM user that has permissions to read/write from the S3 bucket.</td>
  <td> <code>AKIAIOSFODNN7EXAMPLE</code></td>
  <td> Yes</td>
</tr>
<tr>
  <td>stringData.secretAccessKey</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The Secret Access Key for an AWS IAM user that has permissions to read/write from the S3 bucket</td>
  <td><code>wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY</code></td>
  <td>Yes</td>
</tr>
</table>


## <a name="backupschedule"></a> Properties for the MySQLBackupSchedule Resource

The table below explains the properties that can be set for the MySQLBackupSchedule resource.
<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
   <td>metadata.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the MySQLBackupSchedule. Must be unique within a namespace.</td>
   <td><code>backupschedule-sample</code></td>
   <td>Yes</td>
</tr>
<tr>
<td>spec.backupTemplate.spec.location.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the MySQLBackupLocation that represents the blobstore where backups will be uploaded. Must be in the same namespace as the MySQLBackupSchedule.</td>
   <td><code>backuplocation-sample</td>
   <td>Yes</td>
<tr>
</tr>
   <td>spec.backupTemplate.spec.instance.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the MySQL instance on which you want scheduled backups for.
       Must be in the same namespace as the MySQLBackupSchedule.</td>
   <td><code>mysql-sample</td>
   <td>Yes</td>
<tr>
</tr>
<td>spec.schedule</td>
   <td>String (cron schedule)</td>
   <td><em>n/a</em></td>
   <td>The cron schedule for backups. Must be a valid cron schedule.</td>
   <td><code>"0 23 * * 6" (every Saturday at 11PM)</td>
   <td>Yes</td>
</tr>
</table>


## <a name="on-demand-backup"></a> Properties for the MySQLBackup Resource

The table below explains the properties that can be set for the MySQLBackup resource.

[//]: # ( MISSING EXAMPLES)

<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the MySQLBackup.
      Must be unique within a namespace.</td>
  <td><code>backup-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.location.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the MySQLBackupLocation that represents the blobstore where the backup will be uploaded.
      Must be in the same namespace as the MySQL instance.</td>
  <td><code>backuplocation-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
  <td>spec.instance.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the MySQL instance on which you want to perform the on-demand backup.</td>
  <td><code>my-instance</code></td>
  <td>Yes</td>
</tr>
</table>



## <a name="restore"></a> Properties for the MySQLRestore Resource

The table below explains the properties that can be set for the MySQLRestore resource.


<table style="width:1000px" class="nice">
<col width="10%">
<col width="15%">
<col width="10%">
<col width="40%">
<col width="15%">
<col width="5%">
<tr>
  <th>Property</th>
  <th>Type</th>
  <th>Default</th>
  <th>Description</th>
  <th>Example</th>
  <th>Req?</th>
</tr>
<tr>
  <td>metadata.name</td>
  <td>String</td>
  <td><em>n/a</em></td>
  <td>The name of the MySQLRestore. Must be unique within a namespace.</td>
  <td><code>restore-sample</code></td>
  <td>Yes</td>
</tr>
<tr>
   <td>spec.backup.name</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the MySQLBackup that represents the backup artifact to restore.
       Must be in the same namespace as the MySQLRestore.</td>
   <td><code>backup-sample</code></td>
   <td>Yes</td>
</tr>
<tr>
   <td>spec.instanceTemplate</td>
   <td>MySQL</td>
   <td><em>n/a</em></td>
   <td>The configuration for the MySQL instance that the backup artifact will be restored to.
       This MySQL instance is created automatically as part of the restore,
       so the name must not already exist in the namespace.<br>
       For descriptions of each value in the configuration template,
      see <a href="create-delete-mysql.html#create-instance">Create a MySQL Instance</a>.</td>
   <td>See example below.*</td>
   <td>Yes</td>
</tr>
<tr>
   <td>spec.instanceTemplate.spec.imagePullSecretName</td>
   <td>String</td>
   <td><em>n/a</em></td>
   <td>The name of the secret used to restore the backup pulled from the instance spec. MySQLRestore will default to use the imagePullSecretName that is configured in the helm chart, when the user does not provide it.</td>
   <td>tanzu-mysql-image-registry</td>
   <td>No</td>
</tr>
</table>

<br>
* The type MySQL is a nested YAML object.
For example:
``` 
metadata:
  name: mysql-sample
spec:
  storageSize: 1Gi
  highAvailability:
    enabled: true
``` 
