---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

## <a id="1-0-0"></a> v1.0.0

**Release Date: MMM DD, 2021**

This is the first generally available (GA) release for <%= vars.product_full %>.
For an overview of this product, see [About <%= vars.product_short %>](index.html#about-mysql4k8s).

### Features

New feature in this release:

* **High Availability:** Support for creating a High Availability cluster configuration with three members.
  For information, see [Architecture](architecture.html) and 
  [Configuring a High-Availability MySQL Instance](high-availability.html).


### Known Issues

This release has the following issue:

* **Updgrades are not supported:** Upgrades from beta releases to the <%= vars.product_full %>
  v1.0.0 release are not supported.
  Download and install the latest version.


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td>8.0.22–13</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.22–15</td></tr>

</table>
