---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

These are the release notes for <%= vars.product_full %> v1.0.

## <a id="1-1-0"></a> v1.1.0

**Release Date: MMM DD, 2021**

### Features

New feature in this release:

* **SUBJECT:** DESCRIPTION

### Known Issues

This release has the following issue:

* **SUBJECT:** DESCRIPTION

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td></td></tr>
  <tr><td>Percona XtraBackup</td><td></td></tr>

</table>
