---
title: Release Notes
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

## <a id="1-0-0"></a> v1.0.0

**Release Date: MMM DD, 2021**

### Features
New features and changes in this release:

* **FEATURE TITLE:** FEATURE DESCRIPTION. For more information, see

* **FEATURE TITLE:** FEATURE DESCRIPTION. For more information, see



### Known Issues

There are no known issues for this release.


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td>VERSION-NUMBER</td></tr>
  <tr><td>Percona XtraBackup</td><td>VERSION-NUMBER</td></tr>

</table>
