---
title: Release Notes
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

## <a id="1-0-0"></a> v1.0.0

**Release Date: MMMM DD, YYYY**

### Features
New features and changes in this release:

* **FEATURE:** FEATURE DESCRIPTION. For more information, see TOPIC PAGE TOPIC URL.


### Known Issues
This release has the following issues:

*


### Resolved Issues
This release has the following fixes:

*


### Known Issues
This release has the following issues:

*


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td>VERSION-NUMBER</td></tr>
  <tr><td>Percona XtraBackup</td><td>VERSION-NUMBER</td></tr>

</table>
