---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

## <a id="0-1"></a> v0.1

**Release Date: November 6, 2020**

### Features
New features and changes in this release:

* **FEATURE:** FEATURE DESCRIPTION. For more information, see [LINK TO TOPIC PAGE].


### Resolved Issues
This release has the following fixes:

*


### Known Issues
This release has the following issues:

*


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
