---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

## <a id="1-0-0"></a> v1.0.0

**Release Date: MMM DD, 2021**

### Features
New features in this release:

* Create and update MySQL instances to configure CPU, memory, persistent volume storage sizes,
  TLS, and external access.
  For information, see [Creating and Deleting an Instance](create-delete-mysql.html) and 
  [Updating an Instance](update-instance.html).

* **Back up to S3-compatible storage:** Support for backing up MySQL instances to an S3-compatible storage location.
  For information, see [Backing Up and Restoring in Tanzu MySQL for Kubernetes](backup-restore.html).

* **High Availability:** Support for creating a High Availability cluster configuration with three members.
  See TBD.


### Known Issues

This release has the following issue:

* **Updgrades are not supported:** Upgrades from beta releases to the <%= vars.product_full %>
  v1.0.0 release are not supported.
  Download and install the latest version.


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td>8.0.22–13</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.22–15</td></tr>

</table>
