---
title: Release Notes
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

## <a id="0-2-0"></a> v0.2.0

**Release Date: January DD, 2021**

### Features
New features and changes in this release:

* **Configure TLS:** TanzuMySQL instances only accept encrypted client connections.
  Users can now configure a TanzuMySQL instance for TLS by creating a TLS Secret.
  For more information, see [Configuring TLS for a TanzuMySQL Instance](configure-tls.html).

* **Allow off-platform connections:** Users can connect to a TanzuMySQL instance from outside
  the Kubernetes cluster using an external load balancer.
  For more information,
  see [Connect to the MySQL Server with an External IP Address](accessing.html#off-platform-access)
  in _Accessing a Tanzu MySQL for Kubernetes Instance_.


### Known Issues

There are no known issues for this release.


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Percona Server</td><td>8.0.22-13</td></tr>
  <tr><td>Percona XtraBackup</td><td>8.0.22-15</td></tr>

</table>
