---
title: Rotating MySQL Root Credentials
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic provides an overview of the on-demand <%= vars.product_full %> service.

## <a id='AboutTile'></a>About <%= vars.product_short %>

Rotating MySQL Root Credentials

## <a id='prereq'></a>Prerequisites
Prerequisites

## <a id='delete-secret'></a>Option 1: Delete the K8s Secret
Option 1: Delete the K8s Secret

* kubectl delete secret INSTANCE_NAME-credentials
* kubectl rollout restart statefulset INSTANCE_NAME
* Pod comes back with new creds

## <a id='patch-secret'></a>Option 2: Patch the K8s Secret with Custom Password
Option 2: Patch the K8s Secret with Custom Password

* kubectl patch secret INSTANCE_NAME-credentials -p='{"stringData":{"rootPassword":"CUSTOM_PASSWORD"}}'
* kubectl rollout restart statefulset INSTANCE_NAME
* Pod comes back with new creds
