---
title: Updating a Tanzu MySQL Instance
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic provides instructions for scaling up/down and changing any other configurations on a
<%= vars.product_full %> instance.

## <a id='prereq'></a>Prerequisites
Before you modify the <%= vars.product_short %> instance, you must:

* Have Access and permissions
* Have CLIs installed
* Etc.

## <a id='scale-storage'></a>Scale storageSize
To scale `storageSize`:

1.

## <a id='downtime'></a>Expected Downtime
Expected downtime when making changes is:

## <a id='scale-resources'></a>Scaling CPU and Memory Resources
To scale CPU resources:

1.

To scale Memory resources:

1.

## <a id='other-config'></a>Changing Other Configurations
To change additional configurations:

1.
